.background{
    background-image: url(../img/pattern.png);
    width: 100%;
    height: 150px;
    background-repeat: repeat;
    background-color:rgb(89, 158, 237);
}

.logo{
    width: 250px;
    margin-top: 70px;
}

h1{
    font-size: 65px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0px;
}

.font-sky-blue{
    color: skyblue;
}

.Tim-Burners-Lee-image{
    width: 800px;
    height: 530px;
    margin-top: 18px;
}

.font-grey{
    color: grey;
}

.big-subtitle{
    font-size: 20px;
}

.bold{
    font-weight: bold;
}

.yellow-background{
    background-color: yellow;
}
