.logo-background{
    background-image: url(../img/pattern.png);
    width: 100%;
    height: 200px;
    background-repeat: repeat;
    background-color:rgb(89, 158, 237);
}

#logo{
    height: 40%;
    width: 30%;
    text-align:left
}